.card {
  /* background-color: brown; */
  height: 220px;
  width: 190px;
  margin: 10px;
  background-color: #f4a06f;
  opacity: 0.9;
  background-image: radial-gradient(rgb(0, 0, 0) 1.6px, #fdd0b7 1.6px);
  background-size: 1.8vw 1.9vw;
  border-radius: 10px;
}
